<%- include("partials/navbar") %>

<div class="container">
  <%- include("partials/balance-card", { balance }) %>
  <%- include("partials/transactions", { transactions: [] }) %>
</div>

<%- include("partials/send-money-modal") %>